<ul class="nav justify-content-center">
  <li class="nav-item"><a id="nav-services" class="nav-link animate bounce" href="/services">Web Design</a></li>
  <li class="nav-item"><a id="nav-products" class="nav-link animate bounce" href="/products">Pricing</a></li>
  <li class="nav-item"><a id="nav-about" class="nav-link animate bounce" href="/about">About us</a></li>
  <li class="nav-item"><a class="nav-link" href="/contact"><span id="nav-contact" class="animate bounce">Contact</span></a></li>
</ul>
