<ul class="nav justify-content-center">
  <li class="nav-item"><a id="nav-home" class="nav-link" href="/home">Home</a></li>
  <li class="nav-item"><a id="nav-services" class="nav-link" href="/web-design-services">Web Design</a></li>
  <li class="nav-item"><a id="nav-pricing" class="nav-link" href="/pricing">Pricing</a></li>
  <li class="nav-item"><a id="nav-about" class="nav-link" href="/about">About us</a></li>
  <li class="nav-item"><a class="nav-link" href="/contact"><span id="nav-contact" class="">Contact</span></a></li>
</ul>
