<h1>admin_new_user</h1>

<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <button type="button" name="button">Submit</button>
</form>
