<% include ./partials/header %>
  <h1 class="animated bounce">Home</h1>
  <ul>
    <li>How to configure DNS: <a href="http://jsdesigns.site/configure-dns">http://jsdesigns.site/configure-dns</a></li>
    <li>FRS Template 1: <a href="http://template1.jsdesigns.site">http://template1.jsdesigns.site</a></li>
    <li>FRS Template 2: <a href="http://template2.jsdesigns.site">http://template2.jsdesigns.site</a></li>
    <li>FRS Template 3: <a href="http://template3.jsdesigns.site">http://template3.jsdesigns.site</a></li>
  </ul>
<% include ./partials/footer %>
