footer {
  padding-top: 30px;
  text-align: center;
}

.nav {
  border-bottom: 1px lightblue solid;
  height: 4em;
  padding-top: 0.75em;
}

.container {
  margin-top: 50px;
}

.js-nav {
  background-color: black;
}

.js-nav-link {
  color: white;
  animation:bold-to-normal 1.0s;
  animation:black-to-white 1.0s;
  animation:un-opac 0.8s;
  animation:un-box 0.8s;
  animation:un-box-color 0.8s;
  animation:un-box-radius 0.1s;
}

.js-nav-link:hover {
  color: black;
  background-color: lightgray;
}

#nav-services {
  -vendor-animation-delay: 0.2s;
}

#nav-products {
  -vendor-animation-delay: 0.3s;
}

#nav-about {
  -vendor-animation-delay: 0.4s;
}

#nav-contact {
  -vendor-animation-delay: 0.5s;
}

.tutorial {
  margin: 30px 0px 10px 0px;
  border: 2px solid black;
  width: 75vw;
  padding: 20px;
}

.numeral {
  font-weight: bold;
  font-size: 1.15em;
}

.overview {
  margin-bottom: 20px;
}

@keyframes indented {
  from { padding-left: 0px; }
  to { padding-left: 20px; }
}

.delayed-indent {
  animation-name: indented;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dns-image {
  margin: 0 auto;
  border: 1px solid lightblue;
  width: 75%;
  margin-bottom: 20px;
}

/* The Modal (background) */
.modal1, .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom-in;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes zoom-in {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom-in {
    from {transform:scale(0)}
    to {transform:scale(1.5)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    /*color: #f1f1f1;*/
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100vw;
    }

    .close {
      display: none;
    }

    @keyframes zoom-in {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }

    @keyframes zoom-out {
        from {transform:scale(1)}
        to {transform:scale(2)}
    }
}

@media only screen and (orientation:landscape) and (max-width: 700px){
  .modal1, .modal2 {
      padding-top: 0px; /* Location of the box */
    }


}
