.header {
  margin-bottom: 3em;
}

.header img {
  max-width: 800px;
}

.intro {
  margin: 0 auto;
  width: 800px;
}

  #submit-btns {
    text-align: center;
    padding-left: 12em;
    padding-top: 15px;
    font-size: 16px;
  }
  @media (max-width: 950px) {
    .intro {
      width: 600px;
    }
    .header {
      margin-bottom: 2em;
    }
    .header img {
      max-width: 600px;
    }
  }

  @media (max-width: 700px) {
    .header {
      margin-bottom: 1em;
    }

    .header img {
      max-width: 350px;
    }

    .intro {
      width: 350px;
    }
  }
